.NavBar {
	z-index: 100;
}

.info-bar {
	height: 10vh;
	max-height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.info-bar h1 {
	margin: auto;
}
.info-bar .selector {
	width: 15vw;
}
.info-bar .test {
	width: 20vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
}

.staff-view {
	display: flex;
	flex-direction: row-reverse;
	min-height: 72vh;
}
.left-scroll {
	width: fit-content;
	min-width: 85vw;
}

.staff .list {
	max-width: 100%;
	padding: 2vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}
.staff-view .right-scroll {
	width: 10vw;
	max-width: 400px;
}

.staff-view .right-view {
	max-width: 400px;
	padding: 2vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
