.left {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.left form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	border: solid 1px var(--main-color);
	margin: 5px;
	padding: 2vh;
	width: 250px;
	height: 400px;
	overflow-y: auto;
	box-shadow: 0px 10px 30px #00000025;
}
.left form div {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 200px;
	margin: 1vh;
}

select {
	margin-left: 0;
}

ToggleButton {
	margin-left: 2vh;
}
