.page.auth-app{
    width: 100vw;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.form-control{
    margin: 1vh;
    width: 10rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}