/* This changes the Name and Version Tag*/
@media (max-width: 850px) {
	.footer div {
		font-size: 2ch;
		width: 100%;
		height: 50px;
		display: -webkit-flex;
		color: white;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row-reverse;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
	}
}

.footer {
	width: 100%;
	display: -webkit-flex;
	color: var(--main-color);
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	font-size: 1.5ch;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	text-align: center;
}

/* This changes the Student/Staff Portal Links*/
.foot-nav-list {
	text-align: center;
	padding: 0px;
	color: #bf5700;
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.foot-nav-list a {
	font-size: 1.5ch;
	width: 15ch;
	height: 4ch;
	justify-content: center;
	align-items: center;
	display: flex;
	text-decoration: none;
	text-align: center;
	color: #bf5700;
	list-style: none;
	transition: 300ms;
}
.foot-nav-list a:hover {
	display: flex;
	text-decoration: none;
	text-align: center;
	color: #bf5700;
	list-style: none;
	transition: 300ms;
}
.foot-nav-list a:active {
	display: flex;
	text-decoration: none;
	text-align: center;
	color: white;
	list-style: none;
	transition: 300ms;
}
.foot-nav-list a.active {
	display: flex;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: #bf5700;
	padding: 0.3ch;
	border-radius: 1ch;
	list-style: none;
	transition: 300ms;
}
