body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Center the AmplifyAuthenticator component */
amplify-authenticator .auth {
	background-color: #bf5700;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 100vh;
}

:root {
	--amplify-primary-color: #bf5700;
	--amplify-primary-tint: #076d04;
	--amplify-primary-shade: #bf5700;
}
