@font-face {
	font-family: "Inter";
	src: local("Inter"), url("./Fonts/Inter.ttf") format("truetype");
}
* {
	font-family: "Inter";
}

.page {
	height: calc(100vh - 50px);
	max-width: 100vw;
	text-align: center;
	display: -webkit-flex;
	flex-direction: column;
}

NavBar {
	height: 10vh;
}
StudentNavBar {
	height: 10vh;
}

.App-logo {
	height: 30px;
	pointer-events: none;
	align-self: center;
}
