@keyframes button-click {
	to {
		background-color: #bf5700;
		color: white;
		border-radius: 5px;
	}
	from {
		background-color: white;
		color: #bf5700;
		border-radius: 3px;
	}
}
@keyframes raise-hover {
	from {
		position: relative;
		border: 1px solid green;
		bottom: 0px;
		box-shadow: 0px 0px 5px #dddddd;
		background-color: white;
		color: #bf5700;
	}
	to {
		position: relative;
		border: 1px solid white;
		bottom: 5px;
		box-shadow: 0px 5px 10px #cccccc;
		background-color: #bf5700;
		color: white;
	}
}
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

:root {
	--main-bg-color: #002649;
	--main-color: #ff9900;
	--main-text-color: white;
}

body {
	/* background-image: url("images/tiw_logo.jpg");
	height: 500px; 
	background-position: left; 
	background-repeat: no-repeat; 
	background-size: contain; */
	margin: 0;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Center the AmplifyAuthenticator component */
amplify-authenticator .auth {
	background-color: #bf5700;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 100vh;
}

:root {
	--amplify-primary-color: #bf5700;
	--amplify-primary-tint: #076d04;
	--amplify-primary-shade: #bf5700;
}

.App-logo img {
	height: 30px;
	pointer-events: none;
	align-self: center;
	margin-top: 5px;
}

.App-logo:hover {
	animation: App-logo-spin;
	animation-duration: 500ms;
}
.page {
	height: calc(100vh - 100px);
	max-width: 100vw;
	text-align: center;
	display: -webkit-flex;
	margin: 50px 0px;
	flex-direction: column;
}

NavBar {
	background-color: var(--main-color);
	height: 10vh;
}
StudentNavBar {
	height: 10vh;
}
select {
	width: 200px;
	height: 25px;
	min-width: 150px;
	margin-left: 2vw;
}

button {
	margin: 1vh;
	width: 100px;
	height: 30px;
	background-color: var(--main-color);
	color: white;
	border: var(--main-color) solid 0px;
	border-radius: 5px;
	box-shadow: 1px 1px 0.5;
	transition: 300ms;
}
button:hover {
	background-color: #d16913;
}
button:active {
	background-color: white;
	color: #bf5700;
	border: #bf5700 solid 1px;
	transition: 300ms;
}
button.large {
	width: 200px;
	height: 40px;
}
input {
	width: 200px;
	height: 25px;
	min-width: 150px;
}
.item {
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	border: 1px solid #eeeeee;
	border-radius: 5px;

	/* filter: drop-shadow(0 0 0.75rem crimson); */
	/* box-shadow: 10px 10px 5px #eeeeee; */
	width: 80%;
	margin: auto;
}

.request {
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	margin: 1vh;
	max-width: 90vw;
	border: 1px solid #eeeeee;
	border-radius: 5px;
	/* box-shadow: 5px 5px 5px #3535359a; */
}
.expanded {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

Backdrop {
	z-index: 99;
	color: #fff;
}

.section {
	margin: 2vw;
	min-height: 300px;
	max-height: 400px;
	min-width: 250px;
	max-width: 400px;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	font-size: large;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
	color: #bf5700;
	box-shadow: 0px 10px 10px #00000025;
}

.sectionList {
	background-color: #bf5700;
	margin-top: 2vh;
	padding: 5vh 0vw;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-flow: row wrap;
	height: auto;
	overflow-y: visible;
}

MyReservation {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	align-items: flex-start;
	margin: 1vh;
	border: 1px solid #eeeeee;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #eeeeee;
	max-width: 300px;
}
RightNav {
	z-index: 101;
}
@media screen and (max-width: 860px) {
	.sectionList .section {
		margin: 5vw;
		flex: 80%;
		height: 300px;
	}
	button.large {
		width: 150px;
		height: 35px;
	}
}
