.request_item_div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	align-items: flex-start;
	margin: 1vh;
	width: 60vw;
}
@media (max-width: 850px) {
	.request_item_div {
		width: 90vw;
	}
	.request_type span {
		width: 15vw;
		max-width: 130px;
	}
}
.request_item {
	min-width: 100%;
	width: 95vw;
	border: 1px solid #eeeeee;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #eeeeee;
}

.request_item_button {
	align-self: center;
}
.request_workstation {
	display: flex;
	width: 5vw;
	justify-content: left;
	padding-left: 1vw;
	font-weight: bold;
}

.request_item_number {
	width: 2vw;
	margin: 1vw;
}

.request_time {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 10vw;
	min-width: 80px;
	flex-wrap: wrap;
}
.request_member_name {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 20vw;
	margin-right: 1vw;
}
.request_type {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	word-wrap: normal;
	width: 20vw;
	max-width: 200px;
}
.request_expanded_view {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.request_expanded_view_right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	padding: 2vh 5vw 2vh 2vw;
}
.request_expanded_view_left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 5vh 2vw 2vh 5vw;
}
.request_expanded_view_right h3 {
	margin-bottom: 2vh;
}
